<h1>Soups</h1>

<h2><%= button_to "Create a new soup", new_soup_path, method: :get %></h2>

    <% @soups.each do |soup| %>
        <a href="<%= soup_path(soup) %>"><img src="<%= soup.img_url %>" alt="Soup image" ></a>

    <% end %>

<%= button_to 'Check out all of our Users', users_path, method: :get %>
<br>
<%= button_to 'Check out all of the Reviews for our soups', reviews_path, method: :get %>
