<h1>This is Review for <%=@review.soup.name%> </h1>
<img src=" <%=@review.soup.img_url%> ">
<br>
<p>
Rating By: <%= @review.user.name%>
<br>
Comment: <%= @review.comment%> 
<br>
Rating: <%= @review.rating%>
</p>